# --- FastAPI stack ---
fastapi==0.115.2
uvicorn[standard]==0.30.6

# --- Pydantic & settings ---
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.1

# --- PostgreSQL + pgvector ---
psycopg[binary]==3.2.12
psycopg-pool==3.2.3
pgvector==0.3.5

langchain==0.2.11
langchain-core==0.2.23
langchain-community==0.2.10
langchain-google-genai==1.0.6
google-generativeai==0.5.2


# --- Metrics ---
prometheus-client==0.23.1
